<section class="animation-wrap">
  <div class='firefly'></div>
  <div class='firefly'></div>
  <div class='firefly'></div>
  <div class='firefly'></div>
  <div class='firefly'></div>
  <div class='firefly'></div>
  <div class='firefly'></div>
  <div class='firefly'></div>
  <div class='firefly'></div>
  <div class='firefly'></div>
  <div class='firefly'></div>
  <div class='firefly'></div>
  <div class='firefly'></div>
  <div class='firefly'></div>
  <div class='firefly'></div>
  <div class='firefly firefly--alt'></div>
  <div class='firefly firefly--alt'></div>
  <div class='firefly firefly--alt'></div>
  <div class='firefly firefly--alt'></div>
  <div class='firefly firefly--alt'></div>
  <div class='firefly firefly--alt'></div>
  <div class='firefly firefly--alt'></div>
  <div class='firefly firefly--alt'></div>
  <div class='firefly firefly--alt'></div>
  <div class='firefly firefly--alt'></div>
  <div class='firefly firefly--alt'></div>
  <div class='firefly firefly--alt'></div>
  <div class='firefly firefly--alt'></div>
  <div class='firefly firefly--alt'></div>
  <div class='firefly firefly--alt'></div>
</section>