
$color-1: #d0d0c3;
$color-2: #e9e9e9;
$color-3: #c4a380;
$color-4: #715846;
$color-5: #271811;

$color-6: #54331d;
$color-7: #f9f5e3;


$tan: rgb(229,	222, 196); // I like color 7 better
$soft-blue: rgb(150, 177,	173);

html,
body {
    height: 100%;
}

.side-bar {
    background: transparent;
}

.site-nav,
.site-footer,
.site-header {
    background-color: #27262b;
    border-left: 2px solid #44434d;
}

.main {
    min-height: 100vh;
    background-color: #27262b;
    border-right: 2px solid #44434d;

    p {
        color: $tan;
    }
}

.site-title {
    padding: 0;
}

.site-header {
    height: auto;
    max-height: none;
}

.animation-wrap {
    background: linear-gradient(182deg, rgba(17,17,17,1) 0%, rgba(17,17,17,1) 70%, #141E30 100%);
    position: fixed;
    z-index: -1;
    height: 100vh;
    width: 100vw;
}

$quantity: 30;

.firefly {
    position: fixed;
    left: 0;
    top: 50%;
    width: 0.4vw;
    height: 0.4vw;
    margin: -0.2vw 0 0 9.8vw;
    animation: ease 200s alternate infinite;
    pointer-events: none;

    &--alt {
        right: 0;
        left: auto;
    }

    &:before,
    &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        transform-origin: -10vw;
    }

    &:before {
        background: black;
        opacity: 0.4;
        animation: drift ease alternate infinite;
    }

    &:after {
        background: white;
        opacity: 0;
        box-shadow: 0 0 0vw 0vw yellow;
        animation: drift ease alternate infinite, flash ease infinite;
    }
}

// Randomize Fireflies Motion
@for $i from 1 through $quantity {
    $steps: random(12) + 16;
    $rotationSpeed: random(10) + 8s;

    .firefly:nth-child(#{$i}) {
        animation-name: move#{$i};

        &:before {
            animation-duration: #{$rotationSpeed};
        }

        &:after {
            animation-duration: #{$rotationSpeed},
            random(6000)+5000ms;
            animation-delay: 0ms, random(8000) + 500ms;
        }
    }

    @keyframes move#{$i} {
        @for $step from 0 through $steps {
            #{($step * calc(100 / $steps))}% {
                transform: translateX(random(100) - 50vw) translateY(random(100) - 50vh) scale(calc(random(75) / 100) + .25);
            }
        }
    }
}

@keyframes drift {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

@keyframes flash {
    0%,
    30%,
    100% {
        opacity: 0;
        box-shadow: 0 0 0vw 0vw yellow;
    }

    5% {
        opacity: 1;
        box-shadow: 0 0 2vw 0.4vw yellow;
    }
}